

.navbar-brand img {
height: 64px;
}
.carousel-inner img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    justify-content: center;
}


img{
    width: auto;
    height: auto;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .item {
    overflow: hidden;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    
  }
  
  