

.navbar-brand img {
height: 64px;
}
.carousel-inner img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    justify-content: center;
}


img{
    width: auto;
    height: auto;
}
.galeria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .item {
    overflow: hidden;
  }
  
  .item img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    
  }
  .item:hover img {
    transform: scale(1.1);
  }

  .galeria-herreria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
  }
  
  .item {
    overflow: hidden;
  }
  
  .item img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
  }
  .item:hover img {
    transform: scale(1.1);
  }

  .galeria-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .item {
    overflow: hidden;
  }
  
  .item img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
  }
  .item:hover img {
    transform: scale(1.1);
  }

  .galeria-carpinteria {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .item {
    overflow: hidden;
  }
  
  .item img {
    max-width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
    
  }
  .item:hover img {
    transform: scale(1.1);
  }

  .texto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(29, 127, 163);
    
    
  }


  
  
  
  