
    
.navbar-brand img {
height: 64px;
}
.carousel-inner img {
    object-fit: cover;
    height: 70vh;
    width: 100%;
    justify-content: center;
}
.navbar-brand-1 img {
    height: 64px;
}

.container-galeria{
    display: grid;
}
.container-galeria{
    display: grid;
}