@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Konkhmer+Sleokchher&display=swap");
body {
  background-image: url("../img/fondo-4.jfif");
  background-size: cover;
}

.mi-titulo {
  color: rgb(97, 119, 142);
  text-shadow: 2px 2px #b6d5e1;
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 500;
}

h2 {
  color: rgb(79, 79, 103);
  text-shadow: 2px 2px #d8c590;
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 400;
  font-size: 30px;
}

h3 {
  color: rgb(100, 100, 133);
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 350;
  font-size: 30px;
}

span {
  color: rgb(90, 90, 122);
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 300;
  font-size: 25px;
}

p {
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 300;
  font-size: 15px;
  padding-top: 5px;
  margin-left: 0;
  margin-right: 0;
}

.navbar-brand img {
  height: 64px;
}

.carousel-inner img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 70vh;
  width: 100%;
  justify-content: center;
}

img {
  width: auto;
  height: auto;
}

.container-cotizacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  position: relative;
}

.text-overlay {
  font-size: 30px;
  font-family: "Konkhmer Sleokchher", cursive;
  font-weight: 400px;
  color: #0d0c0c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.my-card {
  width: 20rem;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.item {
  overflow: hidden;
}

.item img {
  max-width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.galeria-herreria {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.item {
  overflow: hidden;
}

.item img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.galeria-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item {
  overflow: hidden;
}

.item img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.galeria-carpinteria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.item {
  overflow: hidden;
}

.item img {
  max-width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.item:hover img {
  transform: scale(1.3);
}

.btn {
  justify-content: end;
  transition: all 0, 2s ease-in;
}

.form {
  border: solid;
  justify-content: center;
  background: greenyellow;
  background-image: linear-gradient(to left, rgb(111, 156, 167), rgb(230, 238, 233));
  background-color: rgb(161, 193, 202);
  padding: 10px;
  margin-top: 30px;
  margin-right: 35px;
  margin-bottom: 30px;
  margin-left: 35px;
}

.beto-herreria {
  border-style: inset black;
  padding-left: 40%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Konkhmer Sleokchher", cursive;
}

.beto-productos {
  border-style: inset black;
  padding-left: 20%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 30px;
  margin-top: 10px;
}

.residencias {
  justify-content: center;
  border-style: inset black;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-bottom: 30px;
  margin-top: 30px;
}

.img-beto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-beto img {
  max-width: 100%;
  height: auto;
}

.volver {
  display: flex;
  justify-content: center;
}

.tendencias {
  margin-top: 40px;
  margin-bottom: 10px;
}

.my-btn {
  text-decoration: none;
  margin-bottom: 10px;
  justify-content: center;
}

.btn {
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.footer {
  justify-content: center;
  background: greenyellow;
  background-image: linear-gradient(to right, rgb(111, 156, 167), rgb(230, 238, 233));
}

.footer-texto {
  text-align: center;
  font-size: 1.5rem;
  padding: 5px;
  margin-bottom: 2px;
  font-family: "Konkhmer Sleokchher", cursive;
}

.iconos-redes-sociales {
  padding: 5px;
  margin: 5px;
  transition: all 0, 2s ease-in;
}

.iconos-redes-sociales a:hover i {
  color: rgb(23, 15, 15);
  font-size: 1, 5rem;
  transition: all 0, 2s ease-in;
}

.derechos-de-autor {
  text-align: left;
  font-size: 15px;
  color: #484444;
  padding: 15px;
}/*# sourceMappingURL=style.css.map */